<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict NBA Player Stat</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="experience" placeholder="Games Played" required="required" />
      <input type="text" name="test_score" placeholder="Minutes Played" required="required" />
		<input type="text" name="interview_score" placeholder="Points per Game" required="required" />
    <input type="text" name="experience" placeholder="Field Goals Made" required="required" />
    <input type="text" name="experience" placeholder="Field Goal Attempt" required="required" />
    <input type="text" name="experience" placeholder="Field Goal Percent" required="required" />
    <input type="text" name="experience" placeholder="3 Point Made" required="required" />
    <input type="text" name="experience" placeholder="3 Point Attempt" required="required" />
    <input type="text" name="experience" placeholder="3 Point Perent" required="required" />
    <input type="text" name="experience" placeholder="Free Throw Made" required="required" />
    <input type="text" name="experience" placeholder="Free Throw Attempt" required="required" />
    <input type="text" name="experience" placeholder="Free Throws Percent" required="required" />
    <input type="text" name="experience" placeholder="Offensive Rebound" required="required" />
    <input type="text" name="experience" placeholder="Defensive Rebound" required="required" />
    <input type="text" name="experience" placeholder="Rebounds" required="required" />
    <input type="text" name="experience" placeholder="Assists" required="required" />
    <input type="text" name="experience" placeholder="Steals" required="required" />
    <input type="text" name="experience" placeholder="Blocks" required="required" />
    <input type="text" name="experience" placeholder="Turnovers" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>
